<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="col-xs-12">
        <a href="/" class="page-header">Accueuil</a>
    </div>
</div>
</body>
</html>